.footer-row {
  background-color: #333f48;
  text-align: center;
}

.footer-col {
  width: 50%;
  color: #a1aaad;
  display: inline-block;
  vertical-align: middle;
}

.footer-icon {
  width: 50%;
  color: #a1aaad;
  display: inline-block;
  vertical-align: middle;
}
